:root {

	/* --o-panel-icon: black; */
	--o-panel-menu-icon: blue;
	--o-panel-tray-icon: blue;
	--o-panel-clear-icon: blue;
	--o-panel-guide-icon: blue;
	--o-panel-remove-icon: blue;
	--o-panel-collapse-icon: blue;

	--o-panel-menu-icon-hover: red;
	--o-panel-tray-icon-hover: red;
	--o-panel-clear-icon-hover: red;
	--o-panel-guide-icon-hover: red;
	--o-panel-remove-icon-hover: red;
	--o-panel-collapse-icon-hover: red;

	--o-panel-menu-icon-active: green;
	--o-panel-tray-icon-active: green;
	--o-panel-clear-icon-active: green;
	--o-panel-guide-icon-active: green;
	--o-panel-remove-icon-active: green;
	--o-panel-collapse-icon-active: green;

    --o-panel-bar-color: teal;
    --o-panel-menu-color: teal;
    --o-panel-tray-color: teal;

	--o-panel-bar-background: lightblue;
	--o-panel-menu-background: lightpink;
	--o-panel-tray-background: lightgreen;

    --o-panel-icon-hover: rgba(0, 0, 0, 0.1);
	--o-panel-icon-active: rgba(0, 0, 0, 0.3);

    --o-panel-item-hover: rgba(0, 0, 0, 0.1);
	--o-panel-item-active: rgba(0, 0, 0, 0.3);

	--o-panel-transition: 150ms ease-in-out;
    --o-panel-shadow: rgba(0, 0, 0, 0.1);
	--o-panel-background: rgba(0, 0, 0, 0.1);

	--o-modal-widget: #999;
	--o-modal-transition: 300ms ease-in-out;
	--o-modal-shadow: rgba(0, 0, 0, 0.3);
	--o-modal-background: rgba(0, 0, 0, 0.3);

	--o-toast-widget: #999;
	--o-toast-transition: 300ms ease-in-out;
	--o-toast-shadow: rgba(0, 0, 0, 0.1);

}
* {
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: sans-serif;
}
body {
	width: 100%;
	height: 100%;
}
main {
	padding: 3vh 3vw;
}
button {
	padding: 0.6rem;
}
